---
import Layout from '../layouts/Layout.astro'
import '@fontsource/poppins/200.css'
import '../components/scrollbar.css'
---

<Layout title="Wolfpack Ventures">
  <main class="absolute h-full w-full bg-zinc-300 dark:bg-zinc-900">
    <div>
      <img
        src="https://wallpapercave.com/wp/wp2233421.jpg"
        class="fixed h-full w-full object-cover"
      />
      <div
        class="fixed h-full w-full bg-zinc-400/70 object-cover backdrop-blur-sm dark:bg-zinc-900/90"
      >
      </div>
    </div>
    <div class="scrollbar absolute h-full w-full font-[Poppins]">
      <div class="flex h-screen flex-col items-center">
        <h1
          class="text-center text-6xl font-bold text-zinc-900 dark:text-zinc-300"
        >
          Wolfpack Ventures
        </h1>
        <p class="text-2xl font-bold text-zinc-900 dark:text-zinc-300">
          (Yet another) Terraria modpack.
        </p>
        <p class="text-3xl text-zinc-900 dark:text-zinc-300">Server Status</p>
        <iframe
          onload="this.style.opacity=1"
          class="rounded-lg opacity-0 transition-opacity"
          src="https://wolfpack-tservercheck.vercel.app/"
          width="24"
          height="24"></iframe>
        <br /><br />
        <h1 class="text-xl font-bold text-zinc-900 dark:text-zinc-300">
          <b>Installation Instructions (Automatic)</b>
        </h1>
        <br />

        <div
          id="toast-default"
          class="flex w-full max-w-xs items-center rounded-lg bg-zinc-100/20 p-4 text-zinc-900 shadow backdrop-blur-lg dark:bg-gray-800/20 dark:text-gray-400"
          role="alert"
        >
          <div
            class="inline-flex h-8 w-8 flex-shrink-0 items-center justify-center"
          >
            <svg
              viewBox="0 0 1024 1024"
              fill="currentColor"
              height="2em"
              width="2em"
            >
              <path
                d="M955.7 856l-416-720c-6.2-10.7-16.9-16-27.7-16s-21.6 5.3-27.7 16l-416 720C56 877.4 71.4 904 96 904h832c24.6 0 40-26.6 27.7-48zM480 416c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v184c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V416zm32 352a48.01 48.01 0 010-96 48.01 48.01 0 010 96z"
              ></path>
            </svg>
            <span class="sr-only">Fire icon</span>
          </div>
          <div class="text-md ml-3 font-normal">
            The server will automatically download the mods when you first join.
            <br />
            However, this means that you will need to create a vanilla character
            if you do not have one already, which can be tedious. Feel free to choose
            whichever option.
          </div>
        </div>

        <br />
        <h1 class="text-xl font-bold dark:text-zinc-300">
          <b>Installation Instructions (Manual)</b>
        </h1>
        <p class="text-md ml-8 mr-8 font-bold dark:text-zinc-300">
          1. Download the modpack from <a
            href="https://d2wlz8o3xah0nk.cloudfront.net/WolfpackVentures.zip"
            class="dark:text-zinc-400"><u>here</u></a
          >
          <br />
          2. Extract the zip file
          <br />
          3. Move the folder contents to your tModLoader ModPacks folder
          <br />
          &emsp;([drive]:\Users\[username]\Documents\My Games\Terraria\ModLoader\ModPacks)
          <br />
          4. Launch tModLoader and select the modpack from the Mod Packs tab (click
          Import Pack (Local) to load it)
          <br />
          5. You should be done! Hopefully... DM me for the IP if you need it.
        </p>
        <br /><br />
      </div>
    </div>
  </main>
</Layout>
