---
import Layout from '../layouts/Layout.astro'
import '@fontsource/poppins/200.css'
import '../components/checker.css'

import Checker from '../components/Checker'
---

<Layout title="Wolfpack Ventures">
  <main class="bg-zinc-900 w-full h-full absolute">
    <div>
      <img
        src="https://wallpapercave.com/wp/wp2233421.jpg"
        class="w-full h-full object-cover fixed"
      />
      <div class="bg-zinc-900/80 backdrop-blur-lg h-full w-full fixed"></div>
    </div>
    <div class="fixed w-full h-full font-[Poppins]">
      <div class="flex flex-col h-screen items-center m-6">
        <h1 class="text-6xl text-zinc-300 font-bold">Wolfpack Ventures</h1>
        <p class="text-2xl text-zinc-300 font-bold">
          (Yet another) Terraria modpack.
        </p>

        <br /><br />
        <h1 class="text-2xl text-zinc-300 font-bold">
          <b>Installation Instructions</b>
        </h1>
        <p class="text-xl text-zinc-300 font-bold">
          1. Download the modpack from <a
            href="https://d2wlz8o3xah0nk.cloudfront.net/WolfpackVentures.zip"
            class="text-zinc-400">here</a
          >
          <br />
          2. Extract the zip file
          <br />
          3. Move the folder contents to your tModLoader ModPacks folder
          <br />
          &emsp;([drive]:\Users\[username]\Documents\My Games\Terraria\ModLoader\ModPacks)
          <br />
          4. Launch tModLoader and select the modpack from the Mod Packs tab (click
          Import Pack (Local) to load it)
          <br />
          5. You should be done! Hopefully... DM me for the IP if you need it.
        </p>
				<br /><br />
				<p class="text-xl text-zinc-300 font-bold">Server Status</p>
				<Checker client:idle />
      </div>
    </div>
  </main>
</Layout>
